<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <ul class="superpowers">
    <li *ngFor="let superpower of hero.superpowers">
      <a>{{superpower.name}}</a>
        <button class="delete" title="remove superpower"
          (click)="removeSuperpower(hero.id, superpower)">x
        </button>
    </li>
  </ul>
  <div>
    <label>Add superpower:
      <input #superpowerName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addSuperpower(hero.id, superpowerName.value); superpowerName.value=''">
      add
    </button>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
